/********* Fonts *********/
$font-main: 'Roboto', sans-serif;
/*************************/

/********* Colors *********/
$color-light: #fb828d;
$color-white: #fff;
$color-bold: #f68dba;
$color-main: #f3808d;
$color-hot-orange: #e65f51;
$color-hot-orange2: #e35a4a;
$color-black-main: #474747;
$color-black: #000;
$color-grey: #969696;
$color-grey-light: #f3f3f3;
$color-grey-lightmore: #f4f4f4;
$color-grey-bold: #c7c7c7;
$color-certificate-pink: #e9496b;
$color-header-pro: #8e3e35;
$color-green: #5da313;
/*************************/

/********* Header *********/
$hd-bg: #fdf3f5;
$header-color-boder-bottom: #f9cfd4;
/**************************/

/********* Input **********/
$input-color-border: #f3b0ab;
$input-color: $color-grey;
/**************************/

/********* Home **********/
$home-bg: #fff9f6;
/**************************/

/********* Cart ***********/
$cart-bg-1: #f687b3;
$cart-bg-2: #ffbe8d;
$cart-bg-close: #f4808d;
$cart-bg-button-light: #f9f0f0;
$cart-body-bg: #fef9fa;
$cart-header-bg: #f6f6f6;
/**************************/

/********* Payment ***********/
$input-payment-border: #a1574a;
/*****************************/

/************ Footer *********/
$footer_border-mobile: #e47582;