<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="//theme.hstatic.net/1000225663/1000310269/14/favicon.png?v=438" type="image/png">
    <title>
        ONKY – Mỹ phẩm xách tay Nhật, Hàn Quốc. Thời trang, Giày Dép phái đẹp
    </title>
    <script src="//hstatic.net/0/0/global/design/js/jquery.min.1.11.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
    <script src="//hstatic.net/0/0/global/design/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-rating-input/0.4.0/bootstrap-rating-input.min.js" type="text/javascript"></script>
    <script src="wwwroot/js/mobile-detect.min.js" type="text/javascript"></script>
    <script src="wwwroot/js/responsive.js" type="text/javascript"></script>

    <base href="/" />

    <link rel="stylesheet" href="//hstatic.net/0/0/global/design/css/bootstrap.3.3.1.css">
    <link href="//hstatic.net/0/0/global/design/plugins/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"
        media="all">
    <link href="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="wwwroot/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <link href="wwwroot/css/main.css" rel="stylesheet" type="text/css" media="all">
</head>

<body ng-app="OnkyApp">
    <div id="wrapper">
        <!-- <input type="text" style="width: 100%; height: 100px; position: fixed; top: 0; z-index: 10009" /> -->
        <div ng-include="'app/layout/_header.html'" class="header"></div>
        <div class="breadcrumb">
            <div class="container">
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5 "> -->
                <ol class="breadcrumb breadcrumb-arrows">
                    <li>
                        <a href="/" target="_self">
                            <i class="fa fa-home"></i> Trang chủ</a>
                    </li>
                    <li>
                        <a href="/collections/quan-ao-nu" target="_self">Quần áo nữ</a>
                    </li>
                    <li class="active">
                        <span> Py Satin TNQL</span>
                    </li>
                </ol>
                <!-- </div> -->
            </div>
        </div>
        <section id="content" ng-view>
        </section>
        <footer ng-include="'app/layout/_footer.html'" class="footer"></footer>
        <div class="header__mobile">
            <div class="header__mobile--backdrop animated fadeIn"></div>
            <div class="header__mobile--close" onclick="onkyApp.header_mobile.close();"></div>
            <div class="header__mobile_inner">
                <form action="/search" class="header__mobile--search">
                    <input type="hidden" name="type" value="product">
                    <input type="text" placeholder="Tìm sản phẩm..." name="q" autocomplete="off" class="header__mobile--search_input">
                    <button class="header__mobile--search_btn" type="submit"></button>
                </form>
                <ul class="header__mobile--menu">
                    <li ng-repeat="item in Menu" class="header__mobile--menu_item">
                        <!-- header__mobile--menu_item-active -->
                        <span class="header__mobile--menu_item-hot">HOT</span>
                        <span class="header__mobile--menu_item-icon">+</span>
                        <a data-ng-href="{{item.Link}}">
                            <h3>
                                <span>{{item.Title}}</span>
                            </h3>
                        </a>
                        <div data-ng-if="item.List.length > 0">
                            <ul class="header__mobile--menu_item_submenu animated fadeInLeft">
                                <!-- header__mobile--menu_item_submenu-active -->
                                <li ng-repeat="itemSub in item.List">
                                    <a data-ng-href="{{item.Link}}">
                                        <h3>
                                            <span>{{itemSub.Title}}</span>
                                        </h3>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header__mobile--pinnedbottom">
                <div class="header__mobile--pinnedbottom_inner">
                    <ul>
                        <li>
                            <a href="">
                                <img src="http://theme.hstatic.net/1000225663/1000310269/14/icon-gift-solid.png?v=2091" alt="">
                                <span>Khuyến mãi
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--cart -->
    <div class="cartpreview cartpreview--closed" ng-include="'app/partials/_cartpreview.html'"></div>
    <div id="quick-view-modal" class="wrapper-quickview" style="display: none">
        <div class="quickviewOverlay"></div>
        <div class="jsQuickview">
            <div class="modal-header clearfix" style="width:100%">
                <a href="/products/set-day-mau-sac" class="quickview-title text-left" title="Set dây màu sắc">
                    <h4 class="p-title modal-title">Set dây màu sắc</h4>
                </a>
                <div class="quickview-close">
                    <a href="javascript:void(0);"></a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="quickview-image image-zoom">
                    <img class="p-product-image-feature" src="//product.hstatic.net/1000225663/product/20621091_852897198208239_2375694055693119084_n_large.jpg"
                        alt="Set dây màu sắc">
                </div>
                <div id="quickview-sliderproduct">
                    <div class="quickview-slider">
                        <ul class="owl-carousel">
                            <li class="product-thumb">
                                <a href="javascript:void(0);" data-image="//product.hstatic.net/1000225663/product/20621091_852897198208239_2375694055693119084_n_large.jpg">
                                    <img src="//product.hstatic.net/1000225663/product/20621091_852897198208239_2375694055693119084_n_small.jpg">
                                </a>
                            </li>
                            <li class="product-thumb">
                                <a href="javascript:void(0);" data-image="//product.hstatic.net/1000225663/product/20621951_852897151541577_274571170507405601_n_large.jpg">
                                    <img src="//product.hstatic.net/1000225663/product/20621951_852897151541577_274571170507405601_n_small.jpg">
                                </a>
                            </li>
                            <li class="product-thumb">
                                <a href="javascript:void(0);" data-image="//product.hstatic.net/1000225663/product/20637931_852897298208229_1743938299608690541_n_large.jpg">
                                    <img src="//product.hstatic.net/1000225663/product/20637931_852897298208229_1743938299608690541_n_small.jpg">
                                </a>
                            </li>
                            <li class="product-thumb">
                                <a href="javascript:void(0);" data-image="//product.hstatic.net/1000225663/product/20664041_852897121541580_6705176786567160915_n_large.jpg">
                                    <img src="//product.hstatic.net/1000225663/product/20664041_852897121541580_6705176786567160915_n_small.jpg">
                                </a>
                            </li>
                            <li class="product-thumb">
                                <a href="javascript:void(0);" data-image="//product.hstatic.net/1000225663/product/20664624_852897148208244_8045322959818142314_n_large.jpg">
                                    <img src="//product.hstatic.net/1000225663/product/20664624_852897148208244_8045322959818142314_n_small.jpg">
                                </a>
                            </li>
                            <li class="product-thumb">
                                <a href="javascript:void(0);" data-image="//product.hstatic.net/1000225663/product/untitled_large.png">
                                    <img src="//product.hstatic.net/1000225663/product/untitled_small.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <form id="form-quickview" method="post" action="/cart/add">
                    <div class="quickview-information">
                        <h5>THƯƠNG HIỆU:
                            <span class="color__hot-orange">TEST</span>
                        </h5>
                        <h3 class="quickview-title-text text-left">Set dây màu sắc</h3>
                        <div class="row">
                            <div class="col-md-4 quickview-price products__list--item_prices">
                                <p class="products__list--item_prices-main quickview-price">220.000đ</p>
                                <p class="products__list--item_prices-compare quickview-price">120.000đ</p>
                            </div>
                            <div class="cartpreview__inner--body_list-product_quantity">
                                <span class="minus">-</span>
                                <input id="quantity-quickview" name="quantity" min="1" class="item-quantity" value="1">
                                <span class="add">+</span>
                            </div>
                        </div>
                        <div class="quickview-variants variant-style clearfix">
                            <div class="selector-wrapper">
                                <label>Màu sắc</label>
                                <select class="single-option-selector" data-option="option1" id="quickview-select-option-0">
                                    <option value="Chấm bi xanh">Chấm bi xanh</option>
                                    <option value="Chấm tim đỏ">Chấm tim đỏ</option>
                                    <option value="Gấu nền trắng">Gấu nền trắng</option>
                                    <option value="Tim nền trắng">Tim nền trắng</option>
                                    <option value="Họa tiết đủ màu">Họa tiết đủ màu</option>
                                    <option value="Bông xanh nền vàng">Bông xanh nền vàng</option>
                                </select>
                            </div>
                            <select name="id" class="" id="quickview-select" style="display: none;">
                                <option value="1016393633">Chấm bi xanh - 17000000</option>
                                <option value="1016393635">Chấm tim đỏ - 17000000</option>
                                <option value="1016393636">Gấu nền trắng - 17000000</option>
                                <option value="1016393637">Tim nền trắng - 17000000</option>
                                <option value="1016393638">Họa tiết đủ màu - 17000000</option>
                                <option value="1016393639">Bông xanh nền vàng - 17000000</option>
                            </select>
                        </div>
                        <div class="quickview-description"></div>


                        <div class="quickview-button">
                            <button type="submit" class="quickview-btn-detail quickview-btn-addcart btn-addcart">Thêm vào giỏ</button>
                            <button class="quickview-btn-detail quickview-btn-buynow btn-min-width btn-mgt btn-addcart">Mua ngay</button>
                            <a href="javascript:void(0);" class="quickview-btn-detail quickview-btn-quickcheckout  btn-min-width btn-mgt btn-quickcheckout">Đặt hàng nhanh</a>
                            <button disabled class="quickview-btn-detail addtocart btn-color-add btn-min-width btn-mgt btn-soldout" style="display: none">Hết hàng</button>
                        </div>
                        <div class="quickview-moreinfo">
                            <p>
                                <label>Danh mục: </label>
                                <span>Kem dưỡng mắt</span>
                            </p>
                            <p>
                                <label>Từ khóa: </label>
                                <span>Bioderma, Contour Des Yeux, Eye Gel, Gel dưỡng da, salebioderma, Sensibio, Vùng Mắt</span>
                            </p>
                        </div>
                        <div class="quickview-contact">
                            <p>
                                <img src="http://theme.hstatic.net/1000225663/1000310269/14/fb-icon.png" alt=""> Chia sẻ &nbsp; &nbsp; &nbsp;
                                <img src="http://theme.hstatic.net/1000225663/1000310269/14/icon-messenger.png" alt=""> Gởi tin nhắn
                            </p>
                            <p>
                                Gọi đặt mua:
                                <b class="color__hot-orange">1900 636 737</b> (Ấn phím 1)
                            </p>
                            <p>
                                Hotline:
                                <b class="color__hot-orange">0886 838 939</b> (09h:00 - 21h:00)
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="javascript:void(0);" class="scrollToTop show">
        <img src="http://theme.hstatic.net/1000225663/1000310269/14/icon-totop.png" alt="">
    </a>
    <a href="javascript:void(0);" class="messengerButton show onkyfb fb-button">
        <img src="http://theme.hstatic.net/1000225663/1000310269/14/icon-messenger-tranparent.png" alt="">
    </a>
    <script src="app/app.js" type="text/javascript"></script>
    <div ng-include="'app/layout/_toolbar.html'"></div>

    <!--Test fb button-->

    <style>
        
    </style>
    <div class="fb-livechat">
        <div class="onkyfb fb-overlay"></div>
        <div class="fb-widget">
            <div class="onkyfb fb-close"></div>
            <div class="fb-page" data-href="https://www.facebook.com/onky.net" data-tabs="messages" data-small-header="true" data-hide-cover="true" data-show-facepile="false"> </div>
            <div class="fb-credit">
                <a href="/" target="_blank">ONKY xin chào !</a>
            </div>
            <div id="fb-root"></div>
        </div>
        <a href="https://m.me/onky.net" title="Gửi tin nhắn cho ONKY qua Facebook" class="onkyfb fb-button"></a>
    </div>
    <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <script>
        $(document).ready(function () {
            function detectmob() {
                if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent
                    .match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(
                        /iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(
                        /Windows Phone/i)) {
                    return true;
                } else {
                    return false;
                }
            }
            var t = {
                delay: 125,
                overlay: $(".fb-overlay"),
                widget: $(".fb-widget"),
                button: $(".fb-button")
            };
            setTimeout(function () {
                $("div.fb-livechat").fadeIn();
            }, 8 * t.delay);
            //if (!detectmob()) {
            setTimeout(function(){
                $(".onkyfb").on("click", function (e) {
                    e.preventDefault(), t.overlay.is(":visible") ? (t.overlay.fadeOut(t.delay), t.widget
                        .stop().animate({
                            bottom: 0,
                            opacity: 0
                        }, 2 * t.delay, function () {
                            $(this).hide("slow"), t.button.show()
                        })) : t.button.fadeOut("medium", function () {
                        t.widget.stop().show().animate({
                            bottom: "0",
                            opacity: 1
                        }, 2 * t.delay), t.overlay.fadeIn(t.delay)
                    })
                })
            },500);
            //}
        });
    </script>

</body>

</html>