<ul class="toolbar">
    <li class="toolbar__item">
        <a href="javascript:void(0);">
            <img src="http://theme.hstatic.net/1000225663/1000310269/14/icon-messenger-tranparent.png" alt=""> Chat FB
        </a>
    </li>
    <li class="toolbar__item">
        <a href="javascript:void(0);">
            <img src="http://theme.hstatic.net/1000225663/1000310269/14/icon-phone-white.png" alt=""> 19006067
        </a>
    </li>
    <li class="toolbar__item">
        <a href="javascript:void(0);">
            <img src="http://theme.hstatic.net/1000225663/1000310269/14/icon-message.png" alt=""> Tin nhắn
        </a>
    </li>
    <li class="toolbar__item">
        <a href="javascript:void(0);">
            <img src="http://theme.hstatic.net/1000225663/1000310269/14/icon-cart-add-white.png" alt=""> Thanh toán
        </a>
    </li>
</ul>