<div class="cartpreview__backdrop"></div>
<div class="cartpreview__close"></div>
<div class="cartpreview__inner">
    <div class="cartpreview__inner--header">
        <h3>Giỏ hàng</h3>
    </div>
    <div class="cartpreview__inner--body">
        <div class="cartpreview__inner--body_list">
            <table>
                <tr>
                    <td class="cartpreview__inner--body_list-img"></td>
                    <td class="cartpreview__inner--body_list-name"></td>
                    <td class="cartpreview__inner--body_list-price"></td>
                </tr>
                <tr>
                    <td colspan="2" class="cartpreview__inner--body_list-name"></td>
                    <td class="cartpreview__inner--body_list-price"></td>
                </tr>
            </table>
        </div>
        <div class="cartpreview__inner--body_button">
            <a class="cartpreview__inner--body_button-view">Xem giỏ hàng</a>
            <a class="cartpreview__inner--body_button-payment">Thanh toán</a>
        </div>
    </div>
</div>