.newsdetail {
    @include element("content") {
        //margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1em;
        @include modifier("title") {
            @include f-bold;
            font-size: 2.3em;
        }
        @include modifier("date") {
            color: $color-grey;
            @include f-medium;
        }
        @include modifier("excerpt") {
            margin-top: 20px;
            @include f-medium;
            border-left: 8px solid $color-header-pro;
            padding: 15px 20px;
            margin-bottom: 25px;
            box-shadow: 0px 3px 5px #ccc;
        }
        @include modifier("text") {
            color: $color-black-main;
            p {
                margin: 5px 0;
            }
            b {
                @include f-bold;
                font-size: 1.1em;
                margin: 10px 0 5px 0;
            }
            h3 {
                @include f-bold;
                font-size: 1.5em;
                margin: 10px 0 5px 0;
            }
            img{
                max-width: 100%;
            }
        }
        @include modifier("tags") {
            margin-top: 25px;
            label {
                @include f-bold;
                display: block;
            }
            ul {
                list-style: none;
                margin-top: 20px;
                margin-left: 0;
                padding-left: 0;
                li {
                    display: inline-block;
                    margin-right: 10px;
                    margin-top: 10px;
                    padding: 5px 10px;
                    background-color: $color-header-pro;
                    transition: 0.23s all ease-in-out;
                    &:hover {
                        background-color: $color-main;
                        cursor: pointer;
                        box-shadow: 0px 2px 5px $color-grey;
                    }
                    a {
                        color: $color-white;
                        @include f-bold;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}

.phone{
    .newsdetail {
        @include element("content") {
            padding: 0 30px;
            text-align: justify;
            @include modifier("title"){
                text-align: center;
                font-size: 1.5em;
                text-transform: uppercase;
                margin-bottom: 20px;
                border-bottom: 1px solid $color-grey-light;
                margin-top: 0px;
                padding-bottom: 20px;
            }
            @include modifier("text") {
                color: $color-black-main;
                p {
                    margin: 5px 0;
                }
                b {
                    @include f-bold;
                    font-size: 1em;
                    margin: 10px 0 5px 0;
                }
                h3 {
                    @include f-bold;
                    font-size: 1.1em;
                    margin: 10px 0 5px 0;
                }
                img{
                    max-width: 100%;
                }
            }
        }
    }
}

.tablet{
    .newsdetail {
        @include element("content") {
            //padding: 0 30px;
            text-align: justify;
            @include modifier("title"){
                text-align: center;
                font-size: 1.67em;
                text-transform: uppercase;
                margin-bottom: 20px;
                border-bottom: 1px solid $color-grey-light;
                margin-top: 0px;
                padding-bottom: 20px;
            }
            @include modifier("text") {
                color: $color-black-main;
                p {
                    margin: 5px 0;
                }
                b {
                    @include f-bold;
                    font-size: 1.05em;
                    margin: 10px 0 5px 0;
                }
                h3 {
                    @include f-bold;
                    font-size: 1.1em;
                    margin: 10px 0 5px 0;
                }
                img{
                    max-width: 100%;
                }
            }
        }
    }
}