#homepage {
    background-color: $color-white;
}

.homeslide {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 580px;
    overflow: hidden;
    @include element("img") {
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        width: 100%;
        margin: auto;
    }
    @include element("caption") {
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        color: $color-white;
        display: block;
        margin-top: 5%;
        margin-right: 10px;
        padding: 10px;
        @include modifier("inner") {
            @include e("header1") {
                font-size: 2.7em;
                margin-top: 5px;
                margin-bottom: 30px;
                @include f-bold;
            }
            @include e("header2") {
                font-size: 1.5em;
                margin-bottom: 5px;
                @include f-regular;
            }
            @include e("button") {
                color: $color-white;
                background-color: $color-main;
                width: 350px;
                padding: 8px 15px;
                font-size: 1em;
                text-transform: uppercase;
                margin-top: 20px;
                transition: background-color 0.3s ease-in-out;
                box-shadow: 0 1px 5px $color-grey;
                &:hover {
                    text-decoration: none;
                    color: $color-white;
                    background-color: $color-bold;
                }
            }
        }
    }
    .owl-controls {
        user-select: none;
        text-align: center;
        .owl-buttons {
            //position: absolute;
            top: 0;
            height: 100%;
            div {
                display: block;
                width: 30px; //height: 110%;
                background-color: transparent;
                position: absolute;
                z-index: 9;
                cursor: pointer;
                top: 0%;
                margin-top: -23px;
                -webkit-transition: all 300ms ease-in;
                -moz-transition: all 300ms ease-in;
                -ms-transition: all 300ms ease-in;
                -o-transition: all 300ms ease-in;
                transition: all 300ms ease-in;
            }
            .owl-prev {
                left: 0;
                height: 110%;
                top: 0;
                bottom: 0;
                &:before {
                    content: "";
                    background-image: url(bg_url('left-arrow-banner.png'));
                    position: absolute;
                    background-position: center right;
                    display: block;
                    background-repeat: no-repeat;
                    left: 0;
                    width: 250px;
                    height: 100%;
                    z-index: 9;
                    opacity: 1;
                    transition: all 300ms ease-in;
                }
                &:after {
                    display: none;
                    content: "";
                    background-image: url(bg_url('banner-tranparent-bg-left.png'));
                    position: absolute;
                    background-position: center; //display: block;
                    display: none;
                    background-repeat: repeat-y;
                    left: -5px;
                    width: 200px;
                    height: 100%;
                }
                &:hover {
                    &:before {
                        transform: scale(0.95);
                    }
                }
            }
            .owl-next {
                right: 0;
                height: 110%;
                top: 0;
                bottom: 0;
                &:before {
                    content: "";
                    background-image: url(bg_url('right-arrow-banner.png'));
                    position: absolute;
                    background-position: center left;
                    display: block;
                    background-repeat: no-repeat;
                    right: 0;
                    width: 200px;
                    height: 100%;
                    z-index: 9;
                    opacity: 1;
                    transition: all 300ms ease-in;
                }
                &:after {
                    content: "";
                    background-image: url(bg_url('banner-tranparent-bg-right.png'));
                    position: absolute;
                    background-position: center; //display: block;
                    background-repeat: repeat-y;
                    right: -5px;
                    width: 250px;
                    height: 100%;
                    display: none;
                }
                &:hover {
                    &:before {
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}

.tips {
    // background: #ffbf8d;
    // background: -moz-linear-gradient(left, #ffbf8d 0%, #fc87b5 100%);
    // background: -webkit-linear-gradient(left, #ffbf8d 0%, #fc87b5 100%);
    // background: linear-gradient(to right, #ffbf8d 0%, #fc87b5 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf8d', endColorstr='#fc87b5', GradientType=1);
    min-height: 643px;
    background: $color-white url(bg_url('bg-tips.png'));
    background-position: center;
    background-size: cover;
    padding: 5% 0;
    color: $color-white;
    @include element("title") {
        font-size: 1.7em;
        margin: 10px 0;
    }
    @include element("slide") {
        list-style: none;
        @include modifier("item") {
            margin-right: 15px;
            margin-left: 15px;
            display: inline;
            max-height: 250px;
            min-height: 250px;
            overflow: hidden;
            &:nth-child(1) {
                margin-left: 0;
            }
            &:nth-last-child(0) {
                margin-right: 0;
            }
            @include e("inner") {
                padding: 0 15px;
                @include m("description") {
                    color: $color-black-main;
                    margin-top: 15px;
                    font-size: 1em;
                    @include f-medium();
                    white-space: normal;
                }
                @include m("img") {
                    overflow: hidden;
                    max-width: 100%;
                    max-height: 100%;
                    height: 188px;
                    img {
                        max-height: 100%;
                        margin: auto;
                    }
                }
            }
        }
        .owl-controls {
            width: 100%;
            position: absolute;
            display: block;
            text-align: center;
            height: 15px;
            bottom: -35px;
            .owl-pagination {
                text-align: center;
                width: 100%;
                height: 15px;
                margin: auto;
                .owl-page {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    span {
                        width: 12px;
                        height: 12px;
                        background-color: $color-white;
                        display: inherit;
                        border-radius: 50%;
                    }
                    &.active {
                        span {
                            background-color: #b87061;
                        }
                    }
                }
            }
        }
    }
}

.promotions {
    min-height: 830px;
    background: url(bg_url('bg-protion-product.png')) $color-white repeat;
    color: $color-black-main;
    overflow: hidden;
    padding: 20px 0;
    background-size: cover;
}

.dealers {
    min-height: 690px;
    padding-top: 80px;
    padding-bottom: 70px;
    background: url(bg_url('bg-pattern-dealers.png')) $color-white repeat;
    color: $color-black-main;
    @include element("title") {
        color: $color-black-main;
        text-transform: uppercase;
        font-size: 1.7em;
        margin: 10px 0;
    }
    @include element("list") {
        @include modifier("img") {
            max-width: 100%;
            margin: 40px 0 80px 0;
        }
    }
    @include element("slide") {
        list-style: none;
        @include modifier("item") {
            @include e("inner") {
                @include m("img") {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 0;
                    margin-bottom: 60px;
                }
                @include m("message") {
                    color: $color-grey;
                }
            }
        }
        .owl-controls {
            width: 95.5%;
            position: absolute;
            display: block;
            text-align: center;
            height: 15px;
            bottom: -35px;
            .owl-pagination {
                text-align: center;
                width: 100%;
                height: 12px;
                margin: auto;
                .owl-page {
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    span {
                        width: 8px;
                        height: 8px;
                        background-color: $color-black-main;
                        display: inherit;
                        border-radius: 50%;
                    }
                    &.active {
                        span {
                            background-color: #b87061;
                        }
                    }
                }
            }
        }
    }
}

.certificate {
    min-height: 161px;
    background-color: #fafafa;
    @include element("item") {
        padding: 10px;
        margin: 30px 0;
        @include modifier("img") {
            float: left;
            max-width: 48px;
            max-height: 50px;
            margin-right: 10px;
        }
        @include modifier("text") {
            max-width: 100%;
            overflow: hidden;
            white-space: normal;
            text-align: left;
            text-overflow: ellipsis;
            padding-top: 5px;
            span {
                color: $color-certificate-pink;
                text-transform: uppercase;
                @include f-medium();
                font-size: 1em;
            }
            label {
                color: $color-grey;
                font-size: 0.8em;
                @include f-regular();
                display: block;
                margin-top: 0px;
            }
        }
    }
}

.phone {
    .tips {
        padding: 25% 0;
    }
    .certificate {
        @include element("item") {
            margin: 0;
        }
    }
    .homeslide {
        max-height: 350px!important;
    }
}

.tablet {
    .tips {
        padding: 20% 0;
    }
    .certificate {
        @include element("item") {
            margin: 0;
        }
    }
    .homeslide {
        max-height: 550px!important;
    }
}