.payment {
    max-width: 600px;
    margin: auto;
    @include element("summary") {
        border-top: 4px solid $color-header-pro;
        margin-left: 12px;
        box-shadow: 0px 1px 6px $color-grey;
        padding: 35px 20px;
        margin-bottom: 34px;
        form {
            display: inherit;
        }
        table {
            width: 100%;
            max-width: 100%;
            overflow-x: auto;
            margin-bottom: 20px;
            tr {
                //border-bottom: 1px dashed $color-black-main;
                &:nth-child(2n) {
                    background-color: #fbfbfb;
                }
                td {
                    padding: 15px 0;
                    margin-top: 10px;
                    font-size: 1em;
                    @include f-medium;
                    &:nth-child(1) {
                        text-align: left;
                        width: 60%;
                    }
                    &:nth-child(2) {
                        text-align: right;
                        width: 40%;
                    }
                    a {
                        color: $color-black-main;
                        transition: 0.23s all ease-in-out;
                        &:hover {
                            color: $color-main;
                        }
                    }
                }
            }
        }
        @include m("dotted") {
            tr {
                border-bottom: 1px dashed $color-black-main;
                &:nth-last-child(1) {
                    border-bottom: none;
                }
                &:nth-child(2n) {
                    background-color: $color-white;
                }
            }
        }

        @include modifier("payment") {
            border: none;
            height: 55px;
            width: 100%;
            display: block;
            text-align: center;
            display: table;
            border-radius: 3px;
            transition: all 0.15s ease-in-out;
            border: none;
            span {
                display: block;
                vertical-align: middle;
                text-transform: uppercase;
                @include f-medium;
            }
            &:hover {
                cursor: pointer;
                box-shadow: 0px -1px 10px #999;
            }
        }
        @include modifier("notes") {
            input,
            textarea {
                max-width: 100%;
                border: 1px solid #d1d1d1;
                width: 100%;
                border-radius: 3px;
                padding: 10px 15px;
                transition: 0.21s all ease-in-out;
                color: $color-black-main;
                font-size: 0.9em;
                @include f-regular;
                &:active,
                &:focus {
                    border: 1px solid $color-main;
                    color: $color-hot-orange;
                }
            }
            label {
                @include f-medium;
                display: block;
            }
        }
        @include modifier("promotion"){
            color: $color-hot-orange;
            font-size: 0.9em;
            @include f-medium;
            display: inline-block;
        }
        @include modifier("repromotion"){
            @include e("input"){
                border: 1px $color-main solid;
                height: 41px;
                padding: 14px;
                color: $color-black-main;
                @include f-regular;
                font-size: 0.9em;
                margin: 0;
                width: 100%;
                border-radius: 3px 3px 0px 0px;
            }
            @include e("button"){
                padding: 10px 14px;
                border: 2px $color-main solid;
                color: $color-white;
                background-color: $color-main;
                width: 100%;
                border-radius: 0 0 3px 3px;
                font-size: 0.9em;
                transition: all 0.23s ease-in-out;
                &:hover {
                    box-shadow: 2px 1px 10px #bbb1b1;
                }
            }
        }
    }
    @include element("info") {
        box-shadow: 0px 1px 6px $color-grey;
        padding: 0px;
        margin-bottom: 34px;
        
        @include modifier("header") {
            background-color: $cart-header-bg;
            height: 40px;
            padding: 10px 20px;
            h3 {
                text-align: left;
                font-size: 1em;
                @include f-regular;
                color: $color-black-main;
                display: inline;
            }
        }
        @include modifier("form"){
            padding: 10px 20px;
            min-height: calc(100vh - 50%);
            background-color: $color-white;

            @include e("input"){
                width: 100%;
                height: 40px;
                padding: 16px;
                font-size: 1em;
                border: 1px solid $input-payment-border;
                border-radius: 3px;
                margin-bottom: 15px;
                max-width: 100%;
            }
            @include e("textarea"){
                width: 100%;
                height: auto;
                padding: 16px;
                font-size: 1em;
                border: 1px solid $input-payment-border;
                border-radius: 3px;
                margin-bottom: 15px;
                max-width: 100%;
            }
            @include e("select"){
                width: 100%;
                height: 16px;
                padding: 16px;
                font-size: 1em;
                border: 1px solid $input-payment-border;
                border-radius: 3px;
                margin-bottom: 15px;
                max-width: 100%;
            }
            @include e("label"){
                color: $color-black-main;
                @include f-medium;

                @include m("bold"){
                    font-size: 1em;
                    @include f-bold;
                    display: inline;
                    widows: 90%;
                    margin-left: 5px;
                }
                @include m("note"){
                    font-size: 1em;
                    color: $color-grey;
                    @include f-regular;
                    font-size: 0.9em;
                    display: inline-block;
                    widows: 90%;
                    margin-left: 22px;
                    margin-bottom: 10px;
                }
            }
            @include e("sub"){
                color: $color-grey;
                @include f-medium;
                font-size: 0.9em;
            }
            @include e("radio"){
                background-color: $cart-header-bg;
                padding: 10px 0;
            }
        }
    }
}