<div id="contact">
    <div class="row contact">
        <div class="container">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 contact__form">
                <h1 class="contact__title">LIÊN HỆ</h1>
                <div class="contact__form--tut text-left">
                    Nếu bạn có thắc mắc gì, có thể gửi yêu cầu cho chúng tôi, và chúng tôi sẽ liên lạc lại với bạn sớm nhất có thể .
                </div>
                <form accept-charset="UTF-8" action="/contact" class="contact-form" method="post">
                    <div class="contact__form--group form-group">
                        <label for="contactFormName" class="contact__form--group_label">Tên</label>
                        <input required type="text" id="contactFormName" class="form-control input-lg contact__form--group_input" name="contact[name]"
                            placeholder="Tên của bạn" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
                    </div>
                    <div class="contact__form--group form-group">
                        <label for="contactFormEmail" class="contact__form--group_label">Email</label>
                        <input required type="email" name="contact[email]" placeholder="Email của bạn" id="contactFormEmail" class="form-control input-lg contact__form--group_input"
                            autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                    </div>
                    <div class="contact__form--group form-group">
                        <label for="contactFormMessage" class="contact__form--group_label">Nội dung</label>
                        <textarea required rows="6" name="contact[body]" class="form-control contact__form--group_textarea" placeholder="Viết bình luận"
                            id="contactFormMessage">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                    </div>

                    <button type="submit" class="cartpreview__inner--body_button-payment contact__form--button">
                        <span>Gửi</span>
                    </button>
                </form>
                <div class="contact__form--success text-center">
                    Cám ơn bạn đã liên hệ! Chúng tôi sẽ trả lời ngay khi có thể
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 contact__address">
                <!-- <h3 class="contact__address--title">Chúng tôi ở đây</h3> -->
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5759890236022!2d106.68410931029922!3d10.767125021709166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f181c27c281%3A0x75a5c1e457537ed9!2zMjQyIEPhu5FuZyBRdeG7s25oLCBQaOG6oW0gTmfFqSBMw6NvLCBRdeG6rW4gMSwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1510995618970"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <script>
                    $("#map").find("iframe").removeAttr("width").removeAttr("height");
                </script>
                <h2 class="contact__address--company">{{settings.footer_company}} ONKY.NET</h2>
                <p> {{settings.footer_text}} </p>
                <table class="contact__address--detail">
                    <tr>
                        <td colspan="2" class="contact__address--detail_addr">
                            <i class="glyphicon glyphicon-map-marker"></i>
                            <span>{{settings.footer_address}} Lầu 11 - 242 Cống Quỳnh, Phường Phạm Ngũ Lão, Quận 1, Hồ Chí Minh</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="contact__address--detail_email">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <span>{{settings.footer_email}} hotro@onky.net</span>
                        </td>
                        <td class="contact__address--detail_phone">
                            <a href="tel:">
                                <i class="glyphicon glyphicon-phone-alt"></i>
                                <span>{{settings.footer_phone}} 0122.878.55 55</span>
                            </a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>