<div id="detail-product" class="detailpro row">
    <div class="container">
        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
            <div class="detailpro__summary row">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="detailpro__summary--imgfeature">
                        <img src="http://product.hstatic.net/1000225663/product/21618007_1603969779626494_266172221081756145_n_master.jpg" class="product-image-feature"
                            alt="">
                    </div>
                    <div id="sliderproduct" class="detailpro__summary--slider">
                        <ul class="slides owl-carousel">
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="http://product.hstatic.net/1000225663/product/_dsc6567_master.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="http://product.hstatic.net/1000225663/product/_dsc6567_master.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="http://product.hstatic.net/1000225663/product/_dsc6567_master.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="http://product.hstatic.net/1000225663/product/_dsc6567_master.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="http://product.hstatic.net/1000225663/product/_dsc6567_master.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                    <h5>THƯƠNG HIỆU:
                        <span class="color__hot-orange">TEST</span>
                    </h5>
                    <h4 class="detailpro__summary--title">SẢN PHẨM -----42309-423</h4>
                    <div class="row">
                        <div class="col-md-4 detailpro__summary--price">
                            <p class="products__list--item_prices-main">220.000đ</p>
                            <p class="products__list--item_prices-compare">120.000đ</p>
                        </div>
                        <div class="detailpro__summary--quantity cartpreview__inner--body_list-product_quantity">
                            <span class="minus">-</span>
                            <input id="quantity-quickview" name="quantity" min="1" class="item-quantity" value="1">
                            <span class="add">+</span>
                        </div>
                    </div>
                    <div class="detailpro__summary--changecolor">
                        <label>Màu sắc</label>
                        <select class="detailpro__summary--changecolor_select" data-option="option1" id="quickview-select-option-0">
                            <option value="Chấm bi xanh">Chấm bi xanh</option>
                            <option value="Chấm tim đỏ">Chấm tim đỏ</option>
                            <option value="Gấu nền trắng">Gấu nền trắng</option>
                            <option value="Tim nền trắng">Tim nền trắng</option>
                            <option value="Họa tiết đủ màu">Họa tiết đủ màu</option>
                            <option value="Bông xanh nền vàng">Bông xanh nền vàng</option>
                        </select>
                        <br/>
                        <label>Màu sắc</label>
                        <ul>
                            <li class="active">
                                <span>Chấm tim đỏ</span>
                            </li>
                            <li>
                                <span>Gấu nền trắng</span>
                            </li>
                            <li>
                                <span>Họa tiết đủ màu</span>
                            </li>
                            <li>
                                <span>Bông xanh nền vàng</span>
                            </li>
                        </ul>

                        <label>Kích cỡ</label>
                        <ul>
                            <li class="active">
                                <span>34</span>
                            </li>
                            <li>
                                <span>35</span>
                            </li>
                            <li>
                                <span>36</span>
                            </li>
                            <li>
                                <span>37</span>
                            </li>
                        </ul>
                    </div>
                    <div class="detailpro__summary--button">
                        <button type="submit" class="detailpro__summary--button_btn detailpro__summary--button_addcart btn-addcart">Thêm vào giỏ</button>
                        <button class="detailpro__summary--button_btn detailpro__summary--button_buynow btn-addcart">Mua ngay</button>
                        <a href="javascript:void(0);" class="detailpro__summary--button_btn detailpro__summary--button_quickcheckout btn-quickcheckout hidden">Đặt hàng nhanh</a>
                        <button disabled class="detailpro__summary--button_btn detailpro__summary--button_soldout btn-soldout" style="display: none">Hết hàng</button>
                    </div>

                    <div class="detailpro__summary--moreinfo">
                        <p>
                            <label>Danh mục: </label>
                            <span>Kem dưỡng mắt</span>
                        </p>
                        <p>
                            <label>Từ khóa: </label>
                            <span>Bioderma, Contour Des Yeux, Eye Gel, Gel dưỡng da, salebioderma, Sensibio, Vùng Mắt</span>
                        </p>
                    </div>
                    <div class="detailpro__summary--contact">
                        <p>
                            <img src="http://theme.hstatic.net/1000225663/1000310269/14/fb-icon.png" alt=""> Chia sẻ &nbsp; &nbsp; &nbsp;
                            <img src="http://theme.hstatic.net/1000225663/1000310269/14/icon-messenger.png" alt=""> Gởi tin nhắn
                        </p>
                        <p>
                            Gọi đặt mua:
                            <b class="color__hot-orange">1900 636 737</b> (Ấn phím 1)
                        </p>
                        <p>
                            Hotline:
                            <b class="color__hot-orange">0886 838 939</b> (09h:00 - 21h:00)
                        </p>
                    </div>
                </div>
            </div>
            <div class="detailpro__comment row">
                <ul class="nav nav-tabs detailpro__comment--tabs" id="tab-detailpro" role="tablist">
                    <li class="nav-item detailpro__comment--tabs_item">
                        <a class="nav-link active detailpro__comment--tabs_item-link" data-toggle="tab" href="#detail-pro-mota" role="tab" aria-controls="detail-pro-mota">MÔ TẢ</a>
                    </li>
                    <li class="nav-item detailpro__comment--tabs_item">
                        <a class="nav-link detailpro__comment--tabs_item-link" data-toggle="tab" href="#detail-pro-danhgia" role="tab" aria-controls="detail-pro-danhgia">ĐÁNH GIÁ</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane animated fadeIn active detailpro__comment--content" id="detail-pro-mota" role="tabpanel">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias adipisci ipsam quisquam fugiat,
                            excepturi repellat, possimus id quia, ut modi unde expedita rem ipsum voluptates atque beatae!
                            Natus, neque dolore!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias adipisci ipsam quisquam fugiat,
                            excepturi repellat, possimus id quia, ut modi unde expedita rem ipsum voluptates atque beatae!
                            Natus, neque dolore!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias adipisci ipsam quisquam fugiat,
                            excepturi repellat, possimus id quia, ut modi unde expedita rem ipsum voluptates atque beatae!
                            Natus, neque dolore!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias adipisci ipsam quisquam fugiat,
                            excepturi repellat, possimus id quia, ut modi unde expedita rem ipsum voluptates atque beatae!
                            Natus, neque dolore!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias adipisci ipsam quisquam fugiat,
                            excepturi repellat, possimus id quia, ut modi unde expedita rem ipsum voluptates atque beatae!
                            Natus, neque dolore!</p>
                        <p>
                            <img alt="Kem Che Khuyết Điểm The Face Shop Super Cover Concealer" data-image="//product.hstatic.net/1000225663/product/af005206_01_1_master.jpg"
                                src="//product.hstatic.net/1000225663/product/af005206_01_1_small.jpg">
                        </p>
                    </div>
                    <div class="tab-pane animated fadeIn detailpro__comment--content" id="detail-pro-danhgia" role="tabpanel">
                        <div class="detailpro__comment--content_list">
                            <div class="detailpro__comment--content_list-item" ng-repeat="n in [] | range:15">
                                <div class="detailpro__comment--content_list-item_img">
                                    <div class="detailpro__comment--content_list-item_img_avatar">
                                        <img src="http://via.placeholder.com/80x80" alt="">
                                    </div>
                                    <label>Lorem ipsum dolor sit amet</label>
                                    <span>3 ngày trước</span>
                                </div>
                                <div class="detailpro__comment--content_list-item_info">
                                    <p>
                                        <input type="number" name="ratingPointList" value="4" class="rating" data-readonly/>
                                    </p>
                                    <p class="color__green">
                                        <i class="fa fa-check"></i>
                                        <span>Đã mua sản phẩm tại Onky</span>
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit odio esse odit sequi, quibusdam aperiam animi. Aperiam
                                        placeat cum voluptatum fugiat ut quae repellat molestias quas autem animi, possimus
                                        excepturi?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="detailpro__comment--content_line"></div>
                        <div class="detailpro__comment--content_form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="margin-right: 35px;">Đánh giá của bạn về sản phẩm</label>
                                        <input type="number" name="ratingPoint" id="ratingPoint" class="rating" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Viết nhận xét của bạn vào bên dưới *</label>
                                        <textarea class="detailpro__comment--content_form-textarea" name="" id="" cols="30" rows="6"></textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tên *</label>
                                        <input class="detailpro__comment--content_form-input" type="text">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email *</label>
                                        <input class="detailpro__comment--content_form-input" type="text">
                                    </div>
                                </div>
                                <div class="row detailpro__comment--content_form-action">
                                    <p>
                                        * Để nhận xét được duyệt, quý khách lưu ý tham khảo
                                        <a href="javascript:void(0);" class="color__main">Tiêu chí duyệt nhận xét</a>
                                        của OnKy
                                    </p>

                                    <button class="detailpro__comment--content_form-btn" type="submit">GỬI NHẬN XÉT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
            <div class="detailpro__term">
                <ul>
                    <li>
                        <img class="detailpro__term--img" src="http://theme.hstatic.net/1000225663/1000310269/14/icon-ribbon.png" alt="">
                        <label class="detailpro__term--label">HÀNG CHÍNH HÃNG 100%</label>
                        <span class="detailpro__term--text">
                            Tất cả mặt hàng đều có bill order từ nước ngoài.
                        </span>
                    </li>
                    <li>
                        <img class="detailpro__term--img" src="http://theme.hstatic.net/1000225663/1000310269/14/icon-gift.png" alt="">
                        <label class="detailpro__term--label">TÍCH ĐIỂM ĐẾN 10% HÓA ĐƠN</label>
                        <span class="detailpro__term--text">
                            Khách hàng thân thiết Nuty luôn mua được giá rẻ nhất.
                        </span>
                    </li>
                    <li>
                        <img class="detailpro__term--img" src="http://theme.hstatic.net/1000225663/1000310269/14/icon-scooter.png" alt="">
                        <label class="detailpro__term--label">FREESHIP TẠI TPHCM</label>
                        <span class="detailpro__term--text">
                            Và hỗ trợ phí ship cho các quận, tỉnh/thành còn lại.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="detailpro__similar">
                <h5 class="detailpro__similar--title">SẢN PHẨM THƯỜNG ĐƯỢC XEM CÙNG</h5>
                <ul class="detailpro__similar--list">
                    <li class="detailpro__similar--list_item" ng-repeat="n in [] | range:20">
                        <div>
                            <a href="javascript:void(0);">
                                <img class="detailpro__similar--list_img" src="http://product.hstatic.net/1000225663/product/30400517_1_large.jpg" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0);" class="detailpro__similar--list_label">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nihil,Lorem, ipsum dolor sit amet consectetur adipisicing
                                elit. Maxime nihil,
                            </a>
                            <span class="products__list--item_prices-main detailpro__similar--list_price">
                                213.000.000đ
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>