<div id="payment">
    <!--Empty-->
    <!-- <div class="row">
        <div class="col-md-12  cart--empty">
            <img class="cart--empty__img" src="http://theme.hstatic.net/1000225663/1000310269/14/empty_cart.png?v=730" alt="">
            <p class="cart--empty__message">Không có sản phẩm nào trong giỏ hàng của bạn.</p>
            <a class="cart--empty__button" href="/collections/all">Tiếp tục mua sắm</a>
        </div>
    </div> -->
    <div class="payment">
        <div class="cart__status">
            <div class="cart__status--line cart__status--line-50">
                <ol>
                    <li class="cart__status--item cart__status--item-pass" style="left: 0%">
                        <span class="cart__status--item_step">1</span>
                        <span class="cart__status--item_text">Giỏ hàng</span>
                    </li>
                    <li class="cart__status--item cart__status--item-active" style="left: calc(50% - 18px)">
                        <span class="cart__status--item_step">2</span>
                        <span class="cart__status--item_text">Thanh toán - giao hàng</span>
                    </li>
                    <li class="cart__status--item" style="left: calc(100% - 36px)">
                        <span class="cart__status--item_step">3</span>
                        <span class="cart__status--item_text">Thanh toán đặt mua</span>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 payment__info">
                <div class="col-md-12 payment__info--header">
                    <h3>ĐỊA CHỈ GIAO HÀNG</h3>
                </div>
                <div class="col-md-12 payment__info--form">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="payment__info--form_label">Họ tên *</label>
                            <input type="text" class="payment__info--form_input">
                        </div>
                        <div class="col-md-12">
                            <label class="payment__info--form_label">Số điện thoại *</label>
                            <input type="text" class="payment__info--form_input">
                        </div>
                        <div class="col-md-12">
                            <label class="payment__info--form_label">Email -
                                <span class="payment__info--form_sub">không bắt buộc</span>
                            </label>
                            <input type="text" class="payment__info--form_input">
                        </div>
                        <div class="col-md-12">
                            <label class="payment__info--form_label">Yêu cầu khác -
                                <span class="payment__info--form_sub">không bắt buộc</span>
                            </label>
                            <textarea rows="3" placeholder="Yêu cầu khi mua hàng" class="payment__info--form_textarea"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label class="payment__info--form_label">Địa chỉ</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="payment__info--form_select" id="">
                                        <option ng-repeat="n in [] | range:5">Test {{n}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="payment__info--form_select" id="">
                                        <option ng-repeat="n in [] | range:5">Test {{n}}</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <select class="payment__info--form_select" id="">
                                        <option ng-repeat="n in [] | range:5">Test {{n}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="checkbox" id="checkebox1" checked />
                            <label for="checkebox1" class="payment__info--form_sub">Tạo tài khoản mới</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 payment__info--form_radio">
                    <div class="col-md-12">
                        <input type="radio" checked name="radio1" id="radio1" />
                        <label class="payment__info--form_label-bold" for="radio1">THANH TOÁN KHI NHẬN HÀNG</label>
                        <span class="payment__info--form_label-note">Áp dụng cho toàn quốc</span>
                    </div>
                    <div class="col-md-12">
                        <input type="radio" checked name="radio1" id="radio2" />
                        <label class="payment__info--form_label-bold" for="radio2">CHUYỂN KHOẢN NGÂN HÀNG</label>
                        <span class="payment__info--form_label-note">Bằng thẻ ATM, VISA, Master</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="payment__summary">
                    <div class="payment__summary--repromotion">
                        <input type="text" class="payment__summary--repromotion_input" placeholder="Mã giảm giá" />
                        <button type="text" class="payment__summary--repromotion_button">
                            <span>ÁP DỤNG MÃ GIẢM GIÁ</span>
                        </button>
                    </div>
                    <table>
                        <tr ng-repeat="n in [] | range:7">
                            <td>
                                <a href="javascript:void(0)">
                                    Gel Dưỡng Da Vùng Mắt Bioderma Sensibio Eye Gel Contour Des Yeux (15ml) x
                                    <b>1</b>
                                </a>
                                <span class="payment__summary--promotion">Đã giảm: 100.000đ</span>
                            </td>
                            <td class="cart__summary--subprice cartpreview__inner--body_list-price">2,360,000đ</td>
                        </tr>
                    </table>
                    <table class="payment__summary-dotted">
                        <tr>
                            <td>Tổng phụ</td>
                            <td class="cart__summary--subprice cartpreview__inner--body_list-price">2,360,000đ</td>
                        </tr>
                        <tr>
                            <td>Phí vận chuyển</td>
                            <td class="cart__summary--subprice">
                                <span class="cartpreview__inner--body_list-price">120.000 d</span>
                                <p class="cart__summary--advise">Chi phí vận chuyển sẽ được tính ngay khi bạn nhập thông tin địa chỉ</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Giảm</td>
                            <td class="cart__summary--totalprice cartpreview__inner--body_list-price">2,360,000đ</td>
                        </tr>
                        <tr>
                            <td>Tổng</td>
                            <td class="cart__summary--totalprice cartpreview__inner--body_list-price">2,360,000đ</td>
                        </tr>
                    </table>
                    <button class="cart__summary--payment cartpreview__inner--body_button-payment" type="submit">
                        <span>Đặt hàng</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>