/** Import font  **/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
/** Import variable  **/
/********* Fonts *********/
/*************************/
/********* Colors *********/
/*************************/
/********* Header *********/
/**************************/
/********* Input **********/
/**************************/
/********* Home **********/
/**************************/
/********* Cart ***********/
/**************************/
/** Import mixin  **/
/** Import module **/
@-webkit-keyframes colorhotchange {
  0% {
    background-color: #e65f51; }
  100% {
    background-color: #f68dba; } }

/* The animation code */
@-webkit-keyframes closecart {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes closecart {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.products {
  margin-top: 35px;
  margin-bottom: 90px; }
  .products__title {
    text-transform: uppercase;
    font-size: 1.7em;
    text-align: center;
    margin: 20px 0 30px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    z-index: 4; }
    .products__title:after {
      content: '';
      background: url("http://theme.hstatic.net/1000225663/1000310269/14/icon-featured-2.png?v=439") center center no-repeat;
      width: 180px;
      background-size: auto;
      height: 20px;
      margin: 13px auto;
      display: block; }
  .products__list--item {
    background: #fff;
    margin-bottom: 25px;
    margin-right: -5px;
    border: 1px dashed #f3f3f3;
    max-height: 260px;
    overflow: hidden; }
    .products__list--item_img {
      max-width: 100%;
      max-height: 156px;
      overflow: hidden;
      margin: auto;
      display: block; }
    .products__list--item_header {
      max-height: 42px;
      height: 42px;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: normal;
      font-size: 1em;
      text-transform: none;
      margin-top: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal; }
      .products__list--item_header * {
        text-decoration: none;
        color: #8e3e35;
        -webkit-transition: 0.3s color ease-in-out;
        -o-transition: 0.3s color ease-in-out;
        transition: 0.3s color ease-in-out; }
        .products__list--item_header *:hover {
          text-decoration: none;
          color: #5da313; }
    .products__list--item_prices {
      margin-top: 15px;
      line-height: 0.4em; }
      .products__list--item_prices-main {
        color: #e65f51;
        text-decoration: none;
        font-size: 0.95em;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal; }
      .products__list--item_prices-compare {
        color: #969696;
        text-decoration: line-through;
        font-size: 0.8em;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal; }
    .products__list--item_actions {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .products__list--item_actions-views {
        background: rgba(255, 255, 255, 0.8);
        height: 100%;
        text-align: center;
        width: 82%;
        max-width: 82%;
        max-height: 160px;
        overflow: hidden;
        display: table;
        font-size: 1em;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 5px;
        text-decoration: none; }
        .products__list--item_actions-views * {
          text-decoration: none; }
          .products__list--item_actions-views * img {
            width: 16px;
            height: 16px;
            margin: 35% auto 0 auto;
            display: block;
            margin-bottom: 14px;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            -webkit-transition: 0.25s all ease;
            -o-transition: 0.25s all ease;
            transition: 0.25s all ease; }
          .products__list--item_actions-views * span {
            text-transform: capitalize;
            color: #969696;
            -webkit-transition: 0.25s all ease;
            -o-transition: 0.25s all ease;
            transition: 0.25s all ease; }
          .products__list--item_actions-views *:hover {
            text-decoration: none; }
            .products__list--item_actions-views *:hover img {
              -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              -webkit-filter: grayscale(0);
              filter: grayscale(0); }
            .products__list--item_actions-views *:hover span {
              color: #e65f51; }
      .products__list--item_actions-addcart {
        border: 1px solid #969696;
        border-radius: 3px;
        width: 75%;
        margin-left: 5px;
        padding: 2px;
        background: #fff;
        bottom: 35px;
        position: absolute;
        -webkit-transition: all 0.25s ease-in;
        -o-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in;
        cursor: pointer; }
        .products__list--item_actions-addcart img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
          -webkit-transition: all 0.25s ease-in;
          -o-transition: all 0.25s ease-in;
          transition: all 0.25s ease-in; }
        .products__list--item_actions-addcart span {
          color: #969696;
          font-size: 0.9em;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-style: normal;
          -webkit-transition: all 0.25s ease-in;
          -o-transition: all 0.25s ease-in;
          transition: all 0.25s ease-in; }
        .products__list--item_actions-addcart:hover {
          border: 1px solid #5da313; }
          .products__list--item_actions-addcart:hover img {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); }
          .products__list--item_actions-addcart:hover span {
            color: #5da313; }

.cartpreview {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0; }
  .cartpreview .animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .cartpreview--opened {
    display: block; }
  .cartpreview--closed {
    display: none; }
  .cartpreview__backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    width: 100%;
    height: 100%; }
  .cartpreview__close {
    width: 53px;
    height: 48px;
    background: #f4808d;
    color: #fff;
    background-image: url(http://theme.hstatic.net/1000225663/1000310269/14/cart-close-icon.png?v=467);
    -webkit-box-shadow: -3px 0px 6px #383838;
    box-shadow: -3px 0px 6px #383838;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    position: fixed;
    right: 435px;
    top: 67px;
    z-index: 1000;
    border-radius: 5px 0 0 5px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
    .cartpreview__close:hover {
      cursor: pointer;
      background-color: #f68dba; }
  .cartpreview__inner {
    width: 435px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: -3px 0px 6px #383838;
    box-shadow: -3px 0px 6px #383838; }
    .cartpreview__inner--header {
      background: #f687b3;
      background: -moz-linear-gradient(left, #ffbe8d 0%, #f687b3 100%);
      background: -webkit-linear-gradient(left, #ffbe8d 0%, #f687b3 100%);
      background: -webkit-gradient(linear, left top, right top, from(#ffbe8d), to(#f687b3));
      background: -o-linear-gradient(left, #ffbe8d 0%, #f687b3 100%);
      background: linear-gradient(to right, #ffbe8d 0%, #f687b3 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbe8d', endColorstr='#f687b3', GradientType=1);
      width: 100%;
      height: 67px;
      position: relative;
      display: inline-block; }
      .cartpreview__inner--header * {
        color: #fff;
        font-size: 1.5em;
        text-align: left;
        padding-left: 11px; }
    .cartpreview__inner--body {
      padding: 20px 10px;
      margin-top: 3px;
      background-color: #fef9fa;
      height: 100%; }
      .cartpreview__inner--body_list {
        background-color: #fff;
        border-radius: 1px;
        height: auto;
        width: 100%;
        color: #474747; }
        .cartpreview__inner--body_list table {
          width: 100%; }
          .cartpreview__inner--body_list table tr {
            border: 3px solid #fef9fa; }
            .cartpreview__inner--body_list table tr td {
              padding: 5px; }
        .cartpreview__inner--body_list-img {
          max-width: 100%;
          border-radius: 3px;
          max-height: 100%; }
        .cartpreview__inner--body_list-product {
          padding: 15px 10px; }
          .cartpreview__inner--body_list-product_name {
            font-size: 1em; }
            .cartpreview__inner--body_list-product_name * {
              color: #8e3e35;
              font-family: "Roboto", sans-serif;
              font-weight: 500;
              font-style: normal;
              -webkit-transition: color 0.2s ease-in;
              -o-transition: color 0.2s ease-in;
              transition: color 0.2s ease-in; }
              .cartpreview__inner--body_list-product_name *:hover {
                text-decoration: none;
                color: #f68dba; }
          .cartpreview__inner--body_list-product_price {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1em;
            color: #474747;
            text-align: left; }
          .cartpreview__inner--body_list-product_quantity {
            display: table;
            text-align: right; }
            .cartpreview__inner--body_list-product_quantity span {
              background: #d1d1d1;
              height: 37px;
              width: 22px;
              color: #474747;
              font-size: 1.2em;
              display: table-cell;
              position: relative;
              text-align: center;
              padding: 6px;
              font-family: "Roboto", sans-serif;
              font-weight: 500;
              font-style: normal; }
              .cartpreview__inner--body_list-product_quantity span.minus {
                margin-left: 0;
                border-radius: 5px 0 0 5px; }
              .cartpreview__inner--body_list-product_quantity span.add {
                border-radius: 0 5px 5px 0; }
              .cartpreview__inner--body_list-product_quantity span:hover {
                cursor: pointer;
                background: #bbb; }
            .cartpreview__inner--body_list-product_quantity input {
              display: table-cell;
              width: 62px;
              height: 37px;
              border: 1px solid #d1d1d1;
              text-align: center;
              color: #474747;
              font-size: 1em;
              font-family: "Roboto", sans-serif;
              font-weight: 500;
              font-style: normal; }
        .cartpreview__inner--body_list-price {
          width: 30%;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size: 1em;
          color: #e65f51;
          text-align: right; }
      .cartpreview__inner--body_button {
        height: 60px;
        width: 100%;
        position: relative; }
        .cartpreview__inner--body_button a {
          height: 55px;
          width: 100%;
          display: block;
          text-align: center;
          display: table;
          border-radius: 3px;
          -webkit-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
          .cartpreview__inner--body_button a span {
            display: table-cell;
            vertical-align: middle;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal; }
          .cartpreview__inner--body_button a:hover {
            cursor: pointer;
            -webkit-box-shadow: 0px -1px 10px #999;
            box-shadow: 0px -1px 10px #999; }
        .cartpreview__inner--body_button-view {
          margin-top: 22px;
          background-color: #f9f0f0; }
          .cartpreview__inner--body_button-view span {
            color: #474747; }
          .cartpreview__inner--body_button-view:hover {
            background-color: #f687b3; }
            .cartpreview__inner--body_button-view:hover span {
              color: #fff; }
        .cartpreview__inner--body_button-payment {
          margin-top: 15px;
          background: #f687b3;
          background: -moz-linear-gradient(left, #ffbe8d 0%, #f687b3 100%);
          background: -webkit-linear-gradient(left, #ffbe8d 0%, #f687b3 100%);
          background: -webkit-gradient(linear, left top, right top, from(#ffbe8d), to(#f687b3));
          background: -o-linear-gradient(left, #ffbe8d 0%, #f687b3 100%);
          background: linear-gradient(to right, #ffbe8d 0%, #f687b3 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbe8d', endColorstr='#f687b3', GradientType=1); }
          .cartpreview__inner--body_button-payment span {
            color: #fff; }
          .cartpreview__inner--body_button-payment:hover {
            background: #f687b3;
            background: -moz-linear-gradient(left, #f687b3 0%, #f687b3 100%);
            background: -webkit-linear-gradient(left, #f687b3 0%, #f687b3 100%);
            background: -webkit-gradient(linear, left top, right top, from(#f687b3), to(#f687b3));
            background: -o-linear-gradient(left, #f687b3 0%, #f687b3 100%);
            background: linear-gradient(to right, #f687b3 0%, #f687b3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbe8d', endColorstr='#ffbe8d', GradientType=1); }

/** Import page  **/
#homepage {
  background-color: #fff; }

.homeslide {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 481px;
  overflow: hidden; }
  .homeslide__img {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    width: 100%; }
  .homeslide__caption {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    display: block;
    margin-top: 5%;
    margin-right: 10px;
    padding: 10px; }
    .homeslide__caption--inner_header1 {
      font-size: 2.7em;
      margin-top: 5px;
      margin-bottom: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-style: normal; }
    .homeslide__caption--inner_header2 {
      font-size: 1.5em;
      margin-bottom: 5px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal; }
    .homeslide__caption--inner_button {
      color: #fff;
      background-color: #f3808d;
      width: 350px;
      padding: 8px 15px;
      font-size: 1em;
      text-transform: uppercase;
      margin-top: 20px;
      -webkit-transition: background-color 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
      -webkit-box-shadow: 0 1px 5px #969696;
      box-shadow: 0 1px 5px #969696; }
      .homeslide__caption--inner_button:hover {
        text-decoration: none;
        color: #fff;
        background-color: #f68dba; }
  .homeslide .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-align: center; }
    .homeslide .owl-controls .owl-buttons {
      top: 0;
      height: 100%; }
      .homeslide .owl-controls .owl-buttons div {
        display: block;
        width: 30px;
        background-color: transparent;
        position: absolute;
        z-index: 9;
        cursor: pointer;
        top: 0%;
        margin-top: -23px;
        -webkit-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -ms-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in; }
      .homeslide .owl-controls .owl-buttons .owl-prev {
        left: 0;
        height: 110%;
        top: 0;
        bottom: 0; }
        .homeslide .owl-controls .owl-buttons .owl-prev:before {
          content: "";
          background-image: url(http://theme.hstatic.net/1000225663/1000310269/14/left-arrow-banner.png?v=438);
          position: absolute;
          background-position: center;
          display: block;
          background-repeat: no-repeat;
          left: 0;
          width: 250px;
          height: 100%;
          z-index: 9;
          opacity: 0.6;
          -webkit-transition: all 300ms ease-in;
          -o-transition: all 300ms ease-in;
          transition: all 300ms ease-in; }
        .homeslide .owl-controls .owl-buttons .owl-prev:after {
          content: "";
          background-image: url(http://theme.hstatic.net/1000225663/1000310269/14/banner-tranparent-bg-left.png?v=465);
          position: absolute;
          background-position: center;
          display: block;
          background-repeat: repeat-y;
          left: -5px;
          width: 250px;
          height: 100%; }
        .homeslide .owl-controls .owl-buttons .owl-prev:hover:before {
          opacity: 1; }
      .homeslide .owl-controls .owl-buttons .owl-next {
        right: 0;
        height: 110%;
        top: 0;
        bottom: 0; }
        .homeslide .owl-controls .owl-buttons .owl-next:before {
          content: "";
          background-image: url(http://theme.hstatic.net/1000225663/1000310269/14/right-arrow-banner.png?v=438);
          position: absolute;
          background-position: center;
          display: block;
          background-repeat: no-repeat;
          right: 0;
          width: 250px;
          height: 100%;
          z-index: 9;
          opacity: 0.6;
          -webkit-transition: all 300ms ease-in;
          -o-transition: all 300ms ease-in;
          transition: all 300ms ease-in; }
        .homeslide .owl-controls .owl-buttons .owl-next:after {
          content: "";
          background-image: url(http://theme.hstatic.net/1000225663/1000310269/14/banner-tranparent-bg-right.png?v=465);
          position: absolute;
          background-position: center;
          display: block;
          background-repeat: repeat-y;
          right: -5px;
          width: 250px;
          height: 100%; }
        .homeslide .owl-controls .owl-buttons .owl-next:hover:before {
          opacity: 1; }

.tips {
  min-height: 643px;
  background: #fff url("http://theme.hstatic.net/1000225663/1000310269/14/bg-tips.png?v=445");
  background-position: center;
  background-size: cover;
  padding: 5% 0;
  color: #fff; }
  .tips__title {
    font-size: 1.7em;
    margin: 10px 0; }
  .tips__slide {
    list-style: none; }
    .tips__slide--item {
      margin-right: 15px;
      margin-left: 15px;
      display: inline;
      max-height: 250px;
      overflow: hidden; }
      .tips__slide--item:nth-child(1) {
        margin-left: 0; }
      .tips__slide--item:nth-last-child(0) {
        margin-right: 0; }
      .tips__slide--item_inner {
        padding: 0 15px; }
        .tips__slide--item_inner img {
          max-width: 100%;
          max-height: 188px; }
        .tips__slide--item_inner-description {
          color: #474747;
          margin-top: 15px;
          font-size: 1em;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-style: normal;
          white-space: normal; }
    .tips__slide .owl-controls {
      width: 100%;
      position: absolute;
      display: block;
      text-align: center;
      height: 15px;
      bottom: -35px; }
      .tips__slide .owl-controls .owl-pagination {
        text-align: center;
        width: 100%;
        height: 15px;
        margin: auto; }
        .tips__slide .owl-controls .owl-pagination .owl-page {
          width: 30px;
          height: 30px;
          display: inline-block; }
          .tips__slide .owl-controls .owl-pagination .owl-page span {
            width: 12px;
            height: 12px;
            background-color: #fff;
            display: inherit;
            border-radius: 50%; }
          .tips__slide .owl-controls .owl-pagination .owl-page.active span {
            background-color: #b87061; }

.promotions {
  min-height: 830px;
  background: url(http://theme.hstatic.net/1000225663/1000310269/14/bg-protion-product.png?v=446) #fff repeat;
  color: #474747;
  overflow: hidden;
  padding: 20px 0;
  background-size: cover; }

.dealers {
  min-height: 690px;
  padding-top: 80px;
  padding-bottom: 70px;
  background: url(http://theme.hstatic.net/1000225663/1000310269/14/bg-pattern-dealers.png?v=465) #fff repeat;
  color: #474747; }
  .dealers__title {
    color: #474747;
    text-transform: uppercase;
    font-size: 1.7em;
    margin: 10px 0; }
  .dealers__list--img {
    max-width: 100%;
    margin: 40px 0 80px 0; }
  .dealers__slide {
    list-style: none; }
    .dealers__slide--item_inner-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 0;
      margin-bottom: 60px; }
    .dealers__slide--item_inner-message {
      color: #969696; }
    .dealers__slide .owl-controls {
      width: 95.5%;
      position: absolute;
      display: block;
      text-align: center;
      height: 15px;
      bottom: -35px; }
      .dealers__slide .owl-controls .owl-pagination {
        text-align: center;
        width: 100%;
        height: 12px;
        margin: auto; }
        .dealers__slide .owl-controls .owl-pagination .owl-page {
          width: 15px;
          height: 15px;
          display: inline-block; }
          .dealers__slide .owl-controls .owl-pagination .owl-page span {
            width: 8px;
            height: 8px;
            background-color: #474747;
            display: inherit;
            border-radius: 50%; }
          .dealers__slide .owl-controls .owl-pagination .owl-page.active span {
            background-color: #b87061; }

.certificate {
  min-height: 161px;
  background-color: #fafafa; }
  .certificate__item {
    padding: 10px;
    margin: 30px 0; }
    .certificate__item--img {
      float: left;
      max-width: 48px;
      max-height: 50px;
      margin-right: 10px; }
    .certificate__item--text {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-align: left;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      line-height: 20px;
      padding-top: 5px; }
      .certificate__item--text span {
        color: #e9496b;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1em; }
      .certificate__item--text label {
        color: #969696;
        font-size: 0.8em;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        display: block; }

/** Import responsive  **/
/** Import layout  **/
#wrapper {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 740px; }

body {
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal; }

header {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0; }

input:focus, input:active, button:focus, button:active {
  outline: none; }

h2, h3 {
  text-transform: uppercase;
  text-align: center; }

a:hover, a:focus, a:hover {
  text-decoration: none; }

.header {
  max-height: 145px;
  height: 145px;
  border-bottom: #f3f3f3 1px solid; }
  .header__top {
    background-color: #fdf3f5;
    border-top: #fb828d 2px solid;
    height: 93px;
    border-bottom: #f9cfd4 1px dashed;
    padding-top: 25px; }
    .header__top--search {
      width: 55%;
      display: inline-block;
      float: left; }
      .header__top--search_input {
        border: #f3b0ab 1px solid;
        height: 37px;
        width: 100%;
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 0.9em;
        color: #969696; }
        .header__top--search_input:placeholder {
          color: #969696; }
      .header__top--search_btn {
        background-image: url("https://theme.hstatic.net/1000225663/1000310269/14/icon-search.png?v=438");
        border: none;
        height: 31px;
        width: 31px;
        position: relative;
        border-radius: 50%;
        top: -34px;
        -webkit-transition: 0.5 all ease-in;
        -o-transition: 0.5 all ease-in;
        transition: 0.5 all ease-in;
        float: right;
        right: 3px; }
        .header__top--search_btn:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); }
    .header__top--icon {
      width: 45%;
      list-style: none;
      overflow: hidden;
      max-height: 40px; }
      .header__top--icon li {
        display: table-cell;
        width: 40%;
        border-left: 1px dashed #969696;
        vertical-align: top; }
        .header__top--icon li img {
          float: left;
          height: 32px;
          margin: 0 5px; }
        .header__top--icon li a {
          text-decoration: none;
          color: #474747;
          cursor: pointer; }
        .header__top--icon li div {
          text-align: left;
          display: block; }
          .header__top--icon li div span {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 0.9em; }
          .header__top--icon li div label {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 1em;
            display: block;
            max-width: 115px;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer; }
        .header__top--icon li:nth-child(1) {
          max-width: 5%;
          width: 4%; }
          .header__top--icon li:nth-child(1) img {
            margin-left: 14px;
            margin-right: 14px; }
  .header__menu {
    max-height: 100px;
    overflow: hidden;
    display: table;
    list-style: none; }
    .header__menu_item {
      display: table-cell;
      padding: 2px 10px; }
      .header__menu_item a {
        text-decoration: none; }
        .header__menu_item a span {
          color: #474747;
          -webkit-transition: all 0.15s ease-in;
          -o-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in;
          text-transform: uppercase;
          padding-bottom: 5px; }
          .header__menu_item a span:hover {
            color: #f3808d;
            border-bottom: 2px solid #e65f51; }
        .header__menu_item a h3,
        .header__menu_item a h4,
        .header__menu_item a h5,
        .header__menu_item a h6 {
          font-size: 1.1em;
          text-align: left;
          padding-left: 10px; }
      .header__menu_item--submenu {
        display: none;
        position: absolute;
        list-style: none;
        min-width: 168px;
        -webkit-box-shadow: 0 2px 2px #969696;
        box-shadow: 0 2px 2px #969696;
        padding: 0px 20px 0 10px;
        border-bottom: 2px solid #e65f51;
        background-color: #fff;
        z-index: 99; }
      .header__menu_item--hot {
        background-color: #e65f51;
        border-radius: 3px;
        width: 37px;
        height: 14px;
        font-size: 0.7em;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #fff;
        position: relative;
        display: block;
        text-align: center;
        float: right;
        right: -5px;
        -webkit-animation: colorhotchange 1s infinite alternate; }
        .header__menu_item--hot:before {
          content: '';
          height: 7px;
          width: 7px;
          position: absolute;
          background-color: #e65f51;
          bottom: -3px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          z-index: -1;
          -webkit-animation: colorhotchange 1s infinite alternate; }

.footer {
  border-top: #fb828d 1px solid;
  height: 750px;
  max-height: 750px;
  overflow: hidden;
  background: url("http://theme.hstatic.net/1000225663/1000310269/14/bg-bottom.jpg?v=440") #fff center center no-repeat;
  background-size: cover;
  padding-bottom: 75px; }
  .footer__menu {
    margin-top: 37px;
    list-style: none; }
    .footer__menu li {
      display: inline-block; }
      .footer__menu li * {
        text-transform: uppercase;
        color: #474747;
        -webkit-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        margin: 0 10px; }
        .footer__menu li *:hover {
          color: #fb828d; }
      .footer__menu li:nth-child(1):after {
        display: none; }
      .footer__menu li:after {
        content: "";
        position: absolute;
        background-color: #969696;
        width: 1px;
        height: 8px;
        top: 5px;
        display: block; }
  .footer__social {
    list-style: none;
    margin: 67px 0 87px 0; }
    .footer__social li {
      display: inline-block;
      margin: 0 20px; }
  .footer__link {
    margin-bottom: 28px; }
    .footer__link--item {
      display: inline;
      float: left;
      margin-right: 40px; }
      .footer__link--item_title {
        margin-bottom: 30px; }
        .footer__link--item_title:after {
          content: '';
          background: url(https://theme.hstatic.net/1000225663/1000310269/14/bottom-header-after.png?v=441) left center no-repeat;
          width: 70px;
          background-size: contain;
          height: 7px;
          margin: 5px 0;
          display: block; }
        .footer__link--item_title * {
          text-decoration: none;
          color: #474747;
          -webkit-transition: 0.2s ease-in all;
          -o-transition: 0.2s ease-in all;
          transition: 0.2s ease-in all;
          font-size: 1em;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-style: normal; }
          .footer__link--item_title *:hover {
            color: #fb828d;
            text-decoration: none; }
      .footer__link--item_sublink {
        list-style: none;
        padding-left: 0; }
        .footer__link--item_sublink li {
          margin: 10px 0; }
          .footer__link--item_sublink li * {
            text-decoration: none;
            color: #474747;
            -webkit-transition: 0.2s ease-in all;
            -o-transition: 0.2s ease-in all;
            transition: 0.2s ease-in all;
            font-size: 0.9em;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal; }
            .footer__link--item_sublink li *:hover {
              color: #fb828d;
              text-decoration: none; }
  .footer__copyright {
    margin-top: 28px;
    margin-bottom: 75px; }
    .footer__copyright * {
      color: #969696;
      text-decoration: none; }

/** Import partials  **/
