@-webkit-keyframes colorhotchange {
    0% {
        background-color: $color-hot-orange;
    }
    100% {
        background-color: $color-bold;
    }
}


/* The animation code */

@keyframes closecart {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes btn-addcart {
    from {
        bottom: -200px;
    }
    to {
        bottom: 0px;
    }
}

@keyframes menumobile {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes menumobile-close {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes menumobile-right {
    from {
        right: -100px;
    }
    to {
        right: 0;
    }
}

@keyframes menumobile-right-close {
    from {
        right: 0;
    }
    to {
        right: -100px;
    }
}

@keyframes display {
    from {
        display: none;
    }
    to {
        display: block;
    }
}

@keyframes hidden {
    from {
        display: block;
    }
    to {
        display: none;
    }
}

///// icon-phone in header
@keyframes icon-phone {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

/// backdrop menu
@keyframes backdrop-menu {
  from{
    opacity: 0;
  }
  to{
    opacity: 0.34;
  }
}
@keyframes backdrop-menu-out {
  from{
    opacity: 0.34;
  }
  to{
    opacity: 0;
  }
}


/// messengerButton 
@keyframes messengerButton {
    0%{
        //right: 100%;
        //top: 0;
        transform: scale(0);
    }
    100%{
        //right: 30px;
        //top: calc(50% - 30px)!important;   
        transform: scale(1);     
    }
}

/// fb-chat

@keyframes fb-chat {
    0%{
        bottom: 100px;
        right: 30px;
        transform: scale(0.4);
    }
    50%{
        right: 30px;
        bottom: 0px;
        transform: scale(0.7);
    }
    100%{
        bottom: 0;
        transform: scale(1);
    }
}