@-webkit-keyframes colorhotchange {
    0% {      
      background-color: $color-hot-orange;
    }
    
    100% {      
        background-color: $color-bold;
    }
  }

  /* The animation code */
@keyframes closecart {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes btn-addcart {
  from {bottom: -200px;}
  to {bottom: 0px;}
}