.fb-livechat,
.fb-widget {
    display: none
}

.fb-livechat {
    .onkyfb {
        &.fb-close {
            position: fixed;
            right: 24px;
            cursor: pointer;
            z-index: 4;
            padding: 5px 10px;
            background: #365899;
            font-weight: 700;
            font-size: 11px;
            color: #fff;
            margin: 8px;
            border-radius: 3px;
            &:after {
                content: "X";
                font-family: sans-serif;
            }
        }
        &.fb-overlay {
            z-index: 1004;
            position: fixed;
            height: 100vh;
            width: 100vw;
            -webkit-transition: opacity .4s, visibility .4s;
            transition: opacity .4s, visibility .4s;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .5);
            display: none
        }
    }
    .fb-widget {
        background: #fff;
        z-index: 1005;
        position: fixed;
        width: 360px;
        height: 435px;
        overflow: hidden;
        opacity: 0;
        bottom: 0;
        right: 24px;
        border-radius: 5px 5px 0 0;;
        -o-border-radius: 5px 5px 0 0;;
        -webkit-border-radius: 5px 5px 0 0;;
        box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
        -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
        -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
        -o-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);

        .fb-credit {
            text-align: center;
            margin-top: 8px;

            a {
                transition: none;
                color: #bec2c9;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 12px;
                text-decoration: none;
                border: 0;
                font-weight: 400
            }
        }
    }
}

.phone{
    .fb-livechat {
        .fb-widget {
            background: #fff;
            z-index: 1005;
            position: fixed;
            width: 90%;
            height: 85%;
            overflow: scroll;
            opacity: 0;
            bottom: 0;
            right: 0;
            border-radius: 5px;
            box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
            .fb-credit {
                text-align: center;
                margin-top: 8px;
    
                a {
                    transition: none;
                    color: #bec2c9;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 12px;
                    text-decoration: none;
                    border: 0;
                    font-weight: 400
                }
            }
            .fb-page{
                span{
                    // width: 100%!important;
                    // height: 100%!important;
                    display: block!important;
                    margin: 10px auto 10px auto !important;
                    
                    iframe{
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
        }

        .onkyfb {
            &.fb-close {
                padding: 5px 10px;
            }
        }
    }
}