.products {
    margin-top: 35px;
    margin-bottom: 90px;
    @include element("title") {
        text-transform: uppercase;
        font-size: 1.7em;
        text-align: center;
        margin: 20px 0 30px 0;
        @include f-medium();
        z-index: 4;
        &:after {
            content: '';
            background: url(bg_url('icon-featured-2.png')) center center no-repeat;
            width: 180px;
            background-size: auto;
            height: 20px;
            margin: 13px auto;
            display: block;
        }
    }
    @include element("list") {
        @include modifier("item") {
            background: $color-white;
            margin-bottom: 25px;
            margin-right: -5px;
            border: 1px dashed $color-grey-bold;
            max-height: 360px;
            height: 360px;
            overflow: hidden;
            //padding: 10px 0;
            @include e("img") {
                max-width: 100%;
                max-height: 260px;
                height: 260px;
                overflow: hidden;
                margin: auto;
                img {
                    width: 100%;
                    margin: -10px 0 0 0;
                }
            }
            @include e("header") {
                max-height: 42px;
                height: 42px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: normal;
                font-size: 1em;
                text-transform: none;
                margin-top: 10px;
                @include f-medium();
                * {
                    text-decoration: none;
                    color: $color-black-main;
                    transition: 0.3s color ease-in-out;
                    &:hover {
                        text-decoration: none;
                        color: $color-header-pro;
                    }
                }
            }
            @include e("prices") {
                margin-top: 15px;
                line-height: 0.4em;
                @include m("main") {
                    color: $color-hot-orange2;
                    text-decoration: none;
                    font-size: 0.95em;
                    @include f-medium();
                }
                @include m("compare") {
                    color: $color-grey;
                    text-decoration: line-through;
                    font-size: 0.8em;
                    @include f-regular();
                }
            }
            &:hover {
                .products {
                    @include element("list") {
                        @include modifier("item") {
                            @include e("actions") {
                                @include m("addcart") {
                                    opacity: 1; //transform: scaleY(1);
                                    transform: translateY(0);
                                }
                                @include m("views") {
                                    opacity: 1;
                                    transform: scaleX(1);
                                    transform: scaleY(1);
                                }
                            }
                        }
                    }
                }
            }
            @include e("actions") {
                opacity: 1;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                transition: all 0.3s ease-in-out;
                pointer-events: none;
                @include m("views") {
                    display: none!important;
                    background: rgba(255, 255, 255, 0.8);
                    height: 100%;
                    text-align: center;
                    width: 91%;
                    max-width: 100%;
                    max-height: 206px;
                    overflow: hidden;
                    display: table;
                    font-size: 1em;
                    @include f-regular();
                    line-height: 5px;
                    text-decoration: none;
                    pointer-events: auto;
                    opacity: 0;
                    transform: scaleX(0);
                    transform: scaleY(0);
                    transition: all 0.3s ease-in;
                    * {
                        text-decoration: none;
                        img {
                            width: 26px;
                            height: 26px;
                            margin: 30% auto 0 auto;
                            display: block;
                            margin-bottom: 14px;
                            filter: grayscale(0.5);
                            transition: 0.25s all ease;
                            padding-left: -10px;
                        }
                        span {
                            text-transform: capitalize;
                            color: $color-grey;
                            transition: 0.25s all ease;
                            font-size: 1.1em;
                        }
                        &:hover {
                            text-decoration: none;
                            img {
                                transform: scale(1.1);
                                filter: grayscale(0);
                            }
                            span {
                                color: $color-hot-orange;
                            }
                        }
                    }
                }
                @include m("addcart") {
                    border: 1px solid $color-grey;
                    border-radius: 3px;
                    background: $color-white;
                    position: absolute;
                    transition: all 0.45s ease-in; //transition: transform 0.45s ease-in;
                    cursor: pointer;
                    pointer-events: auto;
                    width: 65%;
                    padding: 5px 10px;
                    bottom: 30px;
                    height: 35px;
                    font-size: 0.95em;
                    margin-left: calc(55% - 40.5%);
                    text-align: center;
                    opacity: 0; //transform: scaleY(-1);
                    transform: translateY(10px);
                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                        filter: grayscale(0.1);
                        transition: all 0.25s ease-in;
                    }
                    span {
                        color: $input-payment-border;
                        font-size: 0.9em;
                        @include f-medium;
                        transition: all 0.25s ease-in;
                    }
                    &:hover {
                        border: 1px solid $input-payment-border;
                        img {
                            filter: grayscale(0);
                            transform: scale(1.1);
                        }
                        span {
                            color: $input-payment-border;
                        }
                    }
                }
            }
            @include e("promotion") {
                background: url(bg_url('bg-hot.png')) top center no-repeat;
                background-size: contain;
                position: absolute;
                height: 60px;
                width: 40px;
                z-index: 12;
                margin-top: -5px;
                right: 10px;
                text-align: center;
                padding-top: 10px;
                span {
                    font-size: 0.8em;
                    color: $color-white;
                    text-align: center;
                    margin: auto;
                    @include f-bold;
                }
            }
            @include e("soldout") {
                background-color: $color-hot-orange;
                position: absolute;
                width: 80px;
                height: 30px;
                z-index: 12;
                margin-bottom: -5px;
                right: 0px;
                text-align: center;
                padding-top: 5px;
                bottom: 115px;
                &:after {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: $color-hot-orange;
                    transform: rotate(45deg);
                    left: 10px;
                    bottom: -5px;
                }
                span {
                    font-size: 0.8em;
                    color: $color-white;
                    text-align: center;
                    margin: auto;
                    @include f-bold;
                }
            }
        }
    }
    @include element("viewmore") {
        display: table;
        text-align: center;
        width: 136px;
        margin: 24px auto 0 auto;
        @include modifier("link") {
            height: 36px;
            width: 136px;
            display: table-cell;
            margin: auto;
            color: $color-white;
            @include cart-bg-gradient-horizontal;
            vertical-align: middle;
            border-radius: 5px;
            transition: all 0.15s ease-in;
            text-transform: uppercase;
            &:hover {
                color: $color-white;
                box-shadow: 0px 0px 13px #c1c1c1;
                &:after {
                    margin-left: 10px;
                }
            }
            &:after {
                content: "";
                position: absolute;
                background: url(bg_url("icon-totop-grey.png"));
                background-repeat: no-repeat;
                background-size: contain;
                height: 13px;
                width: 13px;
                margin-left: 5px;
                margin-top: 3px;
                transition: all 0.15s ease-in;
            }
        }
    }
}

//// Responsive 
.phone{
    .products{
        @include element("title"){
            font-size: 1.1em;
        }
        @include element("list") {
            .col-lg-3, .col-md-3, .col-sm-3, .col-xs-12{
                padding: 0;
            }
            @include modifier("item"){
                //height: 310px;
                height: 270px;
                margin-right: 20px;
                margin-left: 20px;
                @include e("img") {
                    max-height: 180px;
                    height: 170px;
                    img {
                        margin: 0;
                    }
                }
                @include e("actions") {
                    display: none;
                    @include m("addcart"){
                        display: block;
                        opacity: 1;
                        bottom: 35px;
                        transform: translateY(0);
                        width: 80%;
                        margin-left: 5%;
                        span{
                            font-size: 0.7em;
                        }
                    }
                }
                @include e("promotion") {
                    margin-right: 10px;
                }
            }
        }
        @include element("viewmore") {
            width: 136px;
            margin: 14px auto 0 auto;
            @include modifier("link") {
                height: 40px;
                width: 146px;
                &:after {
                    margin-left: 10px;
                }
            }
        }
    }

    .tips{
        @include element("description"){
            padding: 0 25px;
        }
    }
}

.tablet {
    .products{
        @include element("title"){
            font-size: 1.3em;
        }
        @include element("list") {
            @include modifier("item"){
                //height: 280px;
                height: 230px;
                //margin-right: 10px;
                //margin-left: 10px;
                @include e("img") {
                    max-height: 145px;
                    height: 140px;
                    img {
                        margin: 0;
                    }
                }
                @include e("actions") {
                    display: none;
                    @include m("addcart"){
                        display: block;
                        opacity: 1;
                        bottom: 35px;
                        transform: translateY(0);
                        width: 67%;
                        margin-left: 3%;
                        padding: 5px 10px;
                        span{
                            font-size: 0.7em;
                        }
                    }
                }
                
            }
        }
        @include element("viewmore") {
            width: 136px;
            margin: 14px auto 0 auto;
            @include modifier("link") {
                height: 40px;
                width: 146px;
                &:after {
                    margin-left: 10px;
                }
            }
        }
        @include e("promotion") {
            margin-right: 10px;
        }
    }
    .tips{
        @include element("description"){
            padding: 0 25px;
        }
    }
}

@media screen and (orientation: landscape) {   
    .tablet{
        .products{
            @include element("list") {
                @include modifier("item"){
                    height: 310px;

                    @include e("img") {
                        max-height: 220px;
                        height: 215px;
                        img {
                            margin: 0;
                        }
                    }
                }
            }
            @include element("viewmore") {
                width: 136px;
                margin: 14px auto 0 auto;
                @include modifier("link") {
                    height: 40px;
                    width: 146px;
                    &:after {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}