.footer {
    border-top: $color-light 3px solid;
    height: auto; //max-height: 750px;
    overflow: hidden;
    background: url(bg_url('bg-bottom.jpg')) $color-white center center no-repeat;
    background-size: cover;
    padding-bottom: 75px;
    @include element("logo") {
        img {
            margin-top: 20px;
            max-width: 350px;
        }
    }
    @include element("menu") {
        margin-top: 37px;
        list-style: none;
        li {
            display: inline-block;
            * {
                text-transform: uppercase;
                color: $color-black-main;
                transition: all 0.2s ease-in;
                @include f-medium();
                text-decoration: none;
                margin: 0 10px;
                &:hover {
                    color: $color-light;
                }
            }
            &:nth-child(1):before {
                display: none;
            }
            &:before {
                content: "";
                position: absolute;
                background-color: #969696;
                width: 1px;
                height: 8px;
                margin-top: 5px;
                display: block;
            }
        }
    }
    @include element("social") {
        list-style: none;
        margin: 67px 0 87px 0;
        li {
            display: inline-block;
            margin: 0 20px;
        }
    }
    @include element("link") {
        margin-bottom: 28px;
        @include modifier("item") {
            display: inline;
            float: left;
            margin-right: 40px;
            @include e("title") {
                margin-bottom: 30px;
                &:after {
                    content: '';
                    background: url(bg_url('bottom-header-after.png')) left center no-repeat;
                    width: 70px;
                    background-size: contain;
                    height: 7px;
                    margin: 5px 0;
                    display: block;
                }
                * {
                    text-decoration: none;
                    color: $color-black-main;
                    transition: 0.2s ease-in all;
                    font-size: 1em;
                    @include f-regular();
                    &:hover {
                        color: $color-light;
                        text-decoration: none;
                    }
                }
            }
            @include e("sublink") {
                list-style: none;
                padding-left: 0;
                li {
                    margin: 10px 0;
                    * {
                        text-decoration: none;
                        color: $color-black-main;
                        transition: 0.2s ease-in all;
                        font-size: 0.9em;
                        @include f-regular();
                        &:hover {
                            color: $color-light;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    @include element("copyright") {
        margin-top: 10px;
        * {
            //text-transform: uppercase;
            color: $color-black-main;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1440px) and (min-width: 800px) {
    .footer {
        background: url(bg_url('bg-bottom-small.jpg')) $color-white center center no-repeat;
        background-size: cover;
        @include element("menu"){
            padding: 0 100px;
        }
    }
}

@media screen and (max-width: 799px) {
    .footer {
        background: url(bg_url('bg-bottom-mb.jpg')) $color-white center center no-repeat;
        background-size: cover;
    }
}

.tablet,
.phone {
    .footer {
        @include element("link") {
            display: none!important;
        }
        @include element("menu") {
            margin-top: 25px;
            font-size: 0.9em;
            li{
                margin-top: 10px;
                &:before{
                    display: none;
                }
            }
        }
        @include element("social") {
            margin: 25px 0 0 0;
        }
        @include element("copyright") {
            font-size: 0.9em;
            //text-transform: uppercase;
            margin-bottom: 5px;
            margin-top: 25px;
        }
    }
}