.header {
    max-height: 145px;
    height: 145px;
    border-bottom: $color-grey-light 1px solid;
    background-color: $color-white;
    z-index: 999;
    @include element("top") {
        background-color: $hd-bg;
        border-top: $color-light 2px solid;
        height: 93px;
        border-bottom: $header-color-boder-bottom 1px dashed;
        padding-top: 25px;
        @include modifier("search") {
            width: 55%;
            display: inline-block;
            float: left;
            @include e("input") {
                border: $input-color-border 1px solid;
                height: 37px;
                width: 100%;
                border-radius: 20px;
                padding: 5px 10px;
                font-size: 0.9em;
                color: $input-color;
                &:placeholder {
                    color: $input-color;
                }
            }
            @include e("btn") {
                background-image: url(bg_url('icon-search.png'));
                border: none;
                height: 31px;
                width: 31px;
                position: relative;
                border-radius: 50%;
                top: -34px;
                -webkit-transition: 0.5 all ease-in;
                -o-transition: 0.5 all ease-in;
                transition: 0.5 all ease-in;
                float: right;
                right: 3px;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        @include modifier("icon") {
            width: 45%;
            list-style: none; //display: table;
            overflow: hidden;
            max-height: 40px;
            li {
                display: table-cell;
                width: 40%;
                border-left: 1px dashed $color-grey;
                vertical-align: top;
                img {
                    float: left;
                    height: 32px;
                    margin: 0 5px;
                }
                a {
                    text-decoration: none;
                    color: $color-black-main;
                    cursor: pointer;
                }
                div {
                    text-align: left;
                    display: block;
                    span {
                        @include f-light();
                        font-size: 0.9em;
                    }
                    label {
                        @include f-bold();
                        font-size: 1em;
                        display: block;
                        max-width: 115px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        cursor: pointer;
                    }
                }
                &:nth-child(1) {
                    max-width: 5%;
                    width: 4%;
                    img {
                        margin-left: 14px;
                        margin-right: 14px;
                    }
                }
            }
        }
        @include modifier("logo"){
            @include e("togglemobile"){
                display: none;
            }
        }
    }
    @include element("menu") {
        max-height: 80px; //height: 85px;
        //overflow: hidden;
        display: table;
        padding: 0;
        list-style: none;
        @include e("item") {
            display: table-cell;
            padding: 2px 10px;
            a {
                text-decoration: none;
                span {
                    color: $color-black-main;
                    transition: all 0.15s ease-in;
                    text-transform: uppercase;
                    padding-bottom: 3px;
                    &:hover {
                        color: $color-main;
                        border-bottom: 2px solid $color-hot-orange;
                    }
                }
                h3,
                h4,
                h5,
                h6 {
                    font-size: 1em;
                    text-align: left;
                    padding-left: 10px;
                }
            }
            @include modifier("submenu") {
                display: none;
                position: absolute;
                list-style: none;
                min-width: 168px;
                box-shadow: 0 2px 2px $color-grey;
                padding: 0px 20px 0 10px;
                border-bottom: 2px solid $color-hot-orange;
                background-color: $color-white;
                z-index: 99;
            }
            @include modifier("hot") {
                background-color: $color-hot-orange;
                border-radius: 3px;
                width: 30px;
                height: 12px;
                font-size: 0.65em;
                text-transform: uppercase;
                @include f-regular();
                color: $color-white;
                position: relative;
                display: block;
                text-align: center;
                float: right;
                right: -15px;
                -webkit-animation: colorhotchange 1s infinite alternate;
                &:before {
                    content: '';
                    height: 6px;
                    width: 6px;
                    position: absolute;
                    background-color: $color-hot-orange;
                    bottom: -3px;
                    transform: rotate(45deg);
                    z-index: 0;
                    -webkit-animation: colorhotchange 1s infinite alternate;
                }
            }
            @include modifier("active") {
                a.current {
                    text-decoration: none;
                    span {
                        color: $color-main;
                        border-bottom: 2px solid $color-hot-orange;
                    }
                }
            }
        }
    }
}

///////
/// Responsive
.mobile {
    .header {
        height: 65px!important;
        border-bottom: none;

        @include element("top") {
            height: 70px;
            @include modifier("search") {
                @include e("desktop") {
                    display: none;
                }
            }
            @include modifier("icon") {
                padding: 0;
                width: 100%;
                overflow: unset!important;
                margin-bottom: 0;
                li {
                    border-left: 1px dashed $color-grey-light;
                    padding-left: 0px;
                    line-height: 12px;
                    img {
                        height: 22px;
                    }
                    &:nth-child(1){
                        border-left: none;
                        width: 20%;
                    }
                    &:nth-child(2){
                        display: none;   
                    }
                    &:nth-child(3){
                        width: 80%;
                    }
                    div{
                        label{
                            font-size: 0.8em;
                        }
                    }
                }
            }
            @include modifier("logo"){
                img{
                    max-width: 88px;
                    height: 22px;
                }
                @include e("togglemobile"){
                    display: inline;
                    margin-right: 11px;
                }
            }
        }
        @include element("menu") {
            display: none!important;
        }
    }
}

.tablet {
    .header {
        height: 65px!important;
        border-bottom: none;

        @include element("top") {
            .container{
                padding: 0;
            }
            height: 70px;
            @include modifier("search") {
                @include e("desktop") {
                    display: none;
                }
            }
            @include modifier("icon") {
                padding: 0;
                width: 160px;
                overflow: unset!important;
                margin-bottom: 0;
                float: right;
                li {
                    padding-left: 10px;
                    line-height: 12px;
                    img {
                        height: 22px;
                    }
                    &:nth-child(1){
                        border-left: none;
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        width: 80%;
                    }
                    div{
                        label{
                            font-size: 0.8em;
                        }
                    }
                }
            }
            @include modifier("logo"){
                img{
                    max-width: 88px;
                    height: 22px;
                }
                @include e("togglemobile"){
                    display: inline;
                    margin-right: 11px;
                }
            }
        }
        @include element("menu") {
            display: none!important;
        }
    }
}