#wrapper {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 740px;
}

body {
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    @include f-regular;
}

header {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

input,
button {
    &:focus, &:active {
        outline: none;
    }
}

h2,
h3 {
    text-transform: uppercase;
    text-align: center;
}

a, button, input, textarea, select {
    &:hover,
    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
        outline: none;
        color: $color-main;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.scrollToTop {
    top: auto!important;
    padding: 12px;
    border-radius: 50%;
    bottom: -38px;
    opacity: 0;
    position: fixed;
    right: 30px;
    transition: all .6s ease;
    visibility: hidden;
    width: 50px;
    height: 50px;
    z-index: 99;
    border: none;
    @include cart-bg-gradient();
    box-shadow: 0px 1px 2px #000;
    &.show {
        bottom: 100px;  
        opacity: 1;
        visibility: visible;
        backface-visibility: hidden;
        transform: scale(1);
    }
    &:hover {
        //@include cart-bg-gradient-destroy();        
        background-color: #044480;
        transform: scale(1.1);
    }
}


.messengerButton {
    padding: 12px;
    border-radius: 100%;
    top: 25%!important;
    bottom: auto!important;
    height: 50px;
    width: 50px;
    right: 30px;
    opacity: 0;
    position: fixed;
    transition: all .3s ease;
    visibility: hidden;
    z-index: 99;
    border: none;
    //@include cart-bg-gradient();
    background-color: #0084ff;
    box-shadow: 0px 1px 2px #000;
    img{
        width: 100%;
    }
    &.show {
        bottom: 100px;  
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: .2s all ease;
    }
    &:hover {
        //@include cart-bg-gradient-destroy();        
        background-color: #044480;
        transform: scale(1.1);
    }
}

.tablet, .mobile{
    .messengerButton {
        display: none!important;
    }
    .scrollToTop {
    }
}